<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Sistema de Matrículas</a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="matriculas" class="nav-link">Matriculas</a>
            </li>
            <li class="nav-item">
                <a routerLink="registrar-matricula" class="nav-link">Registrar</a>
            </li>
        </div>
    </nav>
    <div class="container mt-5">
        <router-outlet></router-outlet>
    </div>
</div>